#BUFFALO WLI-UC-GNM
ACTION=="add",SUBSYSTEM=="usb",ATTR{idVendor}=="0411",ATTR{idProduct}=="01a2",RUN+="/sbin/modprobe rt2800usb"
ACTION=="add",SUBSYSTEM=="usb",ATTR{idVendor}=="0411",ATTR{idProduct}=="01ee",RUN+="/sbin/modprobe rt2800usb"
